<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Match</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'Eyedtt/assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
     <link href="{% static 'Eyedtt/assets/css/font-awesome.css' %}" rel="stylesheet" />

        <!-- CUSTOM STYLES-->
     <link href="{% static 'Eyedtt/assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
    <link href="{% static 'Eyedtt/assets/fonts/fonts_.css' %}" rel='stylesheet' type='text/css '/>
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"  href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/main
"><i class="fa fa-square-o "></i>&nbsp;Football Match</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
      
                        <li><a href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/login
"><span class="glyphicon glyphicon-log-in"></span> Logout </a></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img src="{% static 'Eyedtt/assets/img/find_user.png' %}" class="img-responsive" />
                     
                    </li>


                    <li>
                        <a href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/groundlist/{{t_num}}/"><i class="	glyphicon glyphicon-heart" aria-hidden="true"></i>경기장</a>
                    </li>
                    <li>
                        <a href="#"><i class=	"glyphicon glyphicon-user"></i>팀<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/myteam/{{t_num}}/
">나의 팀</a>
                            </li>
                            <li>
                                <a href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/teamlist/{{t_num}}/">상대 팀</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/matching/{{t_num}}/"><i class="glyphicon glyphicon-flag "></i>매칭 </a>
                    </li>
                    
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-10">
                     <h4><strong>내가 등록한 매칭</strong></h4>   
                    </div>
		
		    <div class="col-md-10">
			<table class="table table-hover">
			    <thead>
				<th><input type="checkbox" name="_selected_all_"></th><!--selected all을 클릭했을때 전체 선택기능과 전체 해제기능 구상해야함!!!.-->
				<th>등록시간</th>
				<th>제목</th>
				<th>경기장</th>
				<th>경기날짜</th>
				<th>등록팀</th>
				<th>매칭상태</th>
			    </thead>
			    <tbody>
			    {% for make_matching in make_matchings %}
			      <tr style = "cursor:pointer;">
				<td onClick="javascript:;"><input type="checkbox" name="_selected_" value="ROW_1"></td>
				<td>{{make_matching.m_create_time}}</td>
				<td><a href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/detailmatching
">{{make_matching.m_message}}</a></td>
				<td>{{make_matching.g_name}}</td>
				<td>{{make_matching.m_time}}</td>
				<td>{{team.t_name}}</td>
				<td class="info" align=center><strong>
{% if make_matching.m_stat == 1 %}
홈</strong></td>
{% elif make_matching.m_stat == 2 %}
원정</strong></td>
{% elif make_matching.m_stat == 0 %}
매칭완료</strong></td>
{% endif %}
</tr>
{% endfor %}
			    </tbody>
			</table>
		<a class="btn btn-default" >글삭제</a>&nbsp<a class="btn btn-default" href="http://ec2-52-79-171-92.ap-northeast-2.compute.amazonaws.com:8000/Eyedtt/matchingstate_modify
" onClick="window.open(this.href, '', 'width=250, height=150'); return false;">상태변경</a>
		<hr/>
			</div>


		<div class="text-center col-md-10">
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>





                    <div class="col-md-10">
                     <h4><strong>내가 지원한 매칭</strong></h4>   
                    </div>
		
		    <div class="col-md-10">
			<table class="table table-hover">
			    <thead>
				<th><input type="checkbox" name="_selected_all_"></th><!--selected all을 클릭했을때 전체 선택기능과 전체 해제기능 구상해야함!!!.-->
				<th>지원시간</th>
				<th>상대 매칭 제목</th>
				<th>경기장</th>
				<th>경기날짜</th>
				<th>매칭상태</th>
			    </thead>
			    <tbody>
			    {% for want_matching in want_matchings %}
			      <tr style = "cursor:pointer;" >
				<td><input type="checkbox" name="_selected_" value="ROW_1"></td>
				<td onClick = " location.href='매칭글 상세정보.html'">{{want_matching.w_create_time}}</td>
				<td onClick = " location.href='매칭글 상세정보.html'">{{matching.m_message}}</td>
				<td onClick = " location.href='매칭글 상세정보.html'">{{matching.g_name}}</td>
				<td onClick = " location.href='매칭글 상세정보.html'">{{matching.m_time}}</td>
				<td class="info" align=center><strong>{{matching.m_stat}}</strong></td>
			      </tr>
			    {% endfor %}

			    </tbody>
			</table>
		<a class="btn btn-default" href="#">지원취소</a>
		<hr/>
			</div>


		<div class="text-center col-md-10">
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>






                    <div class="col-md-10">
                     <h4><strong>매칭 게시글</strong></h4>   
                    </div>

		    <div class="col-md-10">
			<table class="table table-hover">
			    <thead>
				<th>등록시간</th>
				<th>내용</th>
				<th>경기장</th>
				<th>경기날짜</th>
				<th>등록팀</th>
				<th>매칭상태</th>
			    </thead>
			    <tbody>
			    {% for all_matching in all_matchings %}
			      <tr style = "cursor:pointer;" onClick = " location.href='../../detailmatching/{{t_num}}/{{all_matching.m_num}}'">

				<td>{{all_matching.m_create_time}}</td>
				<td>{{all_matching.m_message}}</td>
				<td>{{all_matching.g_name}}</td>
				<td>{{all_matching.m_time}}</td>
				<td>팀이름</td>
				<td class="info" align=center><strong>
{% if all_matching.m_stat == 1 %}
홈</strong></td>
{% elif all_matching.m_stat == 2 %}
원정</strong></td>
{% elif all_matching.m_stat == 0 %}
매칭완료</strong></td>
{% endif %}
 
			      </tr>
			    {% endfor %}
			    </tbody>
			</table>

		<hr/>
		<a class="btn btn-default" href="../../enrollmentmatching/{{t_num}}/" onClick="window.open(this.href, '', 'width=500, height=600'); return false;">글쓰기</a>
		    </div>


		<div class="text-center col-md-10">
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
              
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'Eyedtt/assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'Eyedtt/assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'Eyedtt/assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'Eyedtt/assets/js/custom.js' %}"></script>
    
   
</body>
</html>
